.icon-container {
    display: flex; /* Устанавливает контейнер для иконок как flex-контейнер */
    gap: 200px; /* Отступ между иконками (можете настроить по вашему усмотрению) */
  }
  
  .about-page {
    background-color: black; /* Задаем чёрный цвет фону страницы */
    color: white; /* Задаем белый цвет тексту на странице */
    padding: 20px; /* Добавляем отступы для контента на странице */
  }
  
  /* Стили для иконок (предположим, у них есть класс .icon) */
  .icon {
    color: white; /* Задаем белый цвет иконкам */
  }
  
  /* Стили для текста "About" */
  .about-heading {
    color: white; /* Задаем белый цвет тексту "About" */
  }