.cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  margin: 0 auto;
  max-height: 80vh;
}

.cards .card {
  background-color: black;
  width: 9%; /* Уменьшили ширину до 9% */
  margin: 5px; /* Уменьшили отступ до 5px */
  box-sizing: border-box;
}

.cards .card img {
  height: auto;
  max-width: 100%;
  background-size: cover;
}
