.cards .card img {
  max-width: 20%; /* Устанавливаем максимальную ширину изображения в 20% от родительского элемента */
  height: auto; /* Поддерживаем соотношение сторон */
}

.card {
  background-color: black;
}
